# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-isolation
.DS_Store
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.solid
*.suo
*.ntvs
*.njsproj
*.sw?

# Raw assets / temporary source files
/PortfolioPPT_OrganizationExperienceSkills/
/CV 2026 Ikmalunisa Annora.pdf
/Client.jpeg
